<footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class="col-md-8 offset-md-2">
                <div class="newslatter">
                   <h4>Subscribe Our Newsletter</h4>
                   <form class="bottom_form">
                      <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                      <button class="sub_btn">subscribe</button>
                   </form>
                </div>
             </div>
             <div class="col-sm-12">
                <div class=" border_top1"></div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-4">
                <h3>QUICK LINKS</h3>
                <ul class="link_menu">
                   <li><a href="#">Home</a></li>
                   <li><a href="about.html"> About</a></li>
                   <li><a href="classes.html">Classes</a></li>
                   <li><a href="yoga.html">Yoga</a></li>
                   <li><a href="pricing.html">pricing</a></li>
                   <li><a href="contact.html">Contact Us</a></li>
                </ul>
             </div>
             <div class=" col-md-3">
                <h3>TOP Yoga</h3>
                <p class="many">
                   There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humou
                </p>
             </div>
             <div class="col-lg-3 offset-mdlg-2     col-md-4 offset-md-1">
                <h3>Contact </h3>
                <ul class="conta">
                   <li><i class="fa fa-map-marker" aria-hidden="true"></i> Location</li>
                   <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                   <li><i class="fa fa-mobile" aria-hidden="true"></i> Call : +01 1234567890</li>
                </ul>
                <ul class="social_icon">
                   <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-10 offset-md-1">
                   <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>