<%-include('partials/_header.ejs') %>
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <%-include('partials/_navigation.ejs') %>
      <!-- end banner -->
      <!-- our classes -->
      <div class="classes">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="titlepage">
                     <h2>Our Classes</h2>
                     <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                     </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6 d_none">
               </div>
               <div class="col-md-4 col-sm-6 margin_bott">
                  <div class="our_yoga">
                     <figure><img src="images/our_yoga1.png" alt="#"/></figure>
                     <h3>HATHA YOGA</h3>
                     <span>Lorem ipsum dolor sit amet</span>
                  </div>
               </div>
               
               
               
               
            </div>
         </div>
      </div>
      
      
      <%-include('partials/_footer.ejs') %>
      
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>